<template>
    <div class="container">
      <div class="form">
          <q-inner-loading :showing="loading" class="fullscreen fixed">
            <q-spinner-gears size="250px" color="primary" />
          </q-inner-loading>
          <img src="~assets/ultrashop-logo.png">
          <h1>ВОЙТИ</h1>
          
          <input
            v-if="!sms"
            v-model="user.phone"
            type="text"
            v-mask="'+### (##) ###-##-##'"
            placeholder="+### (##) ###-##-##"
            class="phone"
            @keydown.enter="getSms"/>

          <input
            v-else
            v-model="user.code"
            type="text"
            v-mask="'#-#-#-#-#-#'"
            placeholder="#-#-#-#-#-#"
            class="code"
            @keydown.enter="confirmCode"/>


          <div ref="recaptcha"></div>
          
          <button v-if="!sms" @click="getSms">Далее</button>
          <button v-else @click="confirmCode">Войти</button>
      </div>
    </div>
</template>


<script>
import { QSpinnerGears } from 'quasar'

export default {
  layout: 'AuthLayout',
  data() {
    return {
      sms: false,
      loading: false,

      verificationId: '',
      user: {
        phone: '',
        code: '',
      },
    }
  },
  mounted() {
    cordova.plugins.firebase.auth.setLanguageCode('ru')
  },
  methods: {
    catchProvider(error) {
      let message = 'Что-то пошло не так... Повторите попытку позже'
      if (error) {
        switch (error.code) {
          case 'auth/invalid-verification-code':
            message = 'Неверный код СМС'
            break
        }
      }

      this.$q.notify({
        type: 'warning',
        message,
      })
    },

    getSms() {
      this.$q.notify({
        spinner: QSpinnerGears,
        message: 'Working...',
        timeout: 2000
      })
      this.loading = true
      cordova.plugins.firebase.auth.verifyPhoneNumber(this.user.phone, 120000)
        .then((verificationId) => {
          console.log(verificationId)
          this.verificationId = verificationId
          this.sms = true
        })
        .catch((e) => {
          console.log(e)
        })
        .finally(() => {
          this.loading = false
        })
    },

    confirmCode() {
      this.$q.notify({
        spinner: QSpinnerGears,
        message: 'Working...',
        timeout: 2000
      })
  
      cordova.plugins.firebase.auth.signInWithVerificationId(this.verificationId, this.user.code.replace(/-/g, ''))
        .catch(this.catchProvider)
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  background: #ffdd57!important;
  background: -webkit-linear-gradient(45deg, #ffe57e, #ffcb00);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    background: black;
    width: 400px;
    border-radius: 10px;
    padding: 55px 55px 37px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 80px;
      height: 80px;
      background: white;
      border-radius: 50%;
    }
    h1 {
      color: white;
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
    }

    input {
      color: white;
      background: none;
      border: none;
      border-bottom: 2px solid gray;
      outline: none;
      &.phone {
        width: 133px;
      }
      &.code {
        width: 78px;
      }
    }

    button {
      margin-top: 20px;
      padding: 5px 30px;
      border: none;
      border-radius: 5px;
    }
  }
}
</style>