<template>
  <q-page class="flex bg-gradient-yellow">
    <q-inner-loading :showing="loading" class="fullscreen fixed">
      <q-spinner-gears size="250px" color="primary" />
    </q-inner-loading>

    <q-pull-to-refresh
      color="orange-2"
      bg-color="black"
      icon="autorenew"
      class="full-width q-pa-md"
      @refresh="refresh"
    >
      <div class="column">
        <h5 class="q-mb-lg">Заявки на доставку</h5>
        <div class="row q-col-gutter-sm" v-if="waitingMovements.length">
          <div
            :class="`col-${cols}`"
            v-for="movement in waitingMovements"
            :key="movement.root.id"
          >
            <card
              :id="movement.root.id"
              :from-warehouse="movement.from_warehouse.name"
              :to-warehouse="movement.to_warehouse.name"
            >
              <!-- @accept="(currentMovement = movement), (acceptingModal = true)" -->
              <template #action>
                <div
                  class="q-btn white full-width text-h6 text-weight-bolder"
                  @click="showAcceptingModal(movement)"
                >
                  Принять
                </div>
              </template>
            </card>
          </div>
        </div>
        <div v-else>
          <h6 class="text-center">Пока заявок нет</h6>
        </div>

        <h5 class="q-mb-lg" v-if="myMovements.length">В процессе</h5>
        <div class="row q-col-gutter-sm" v-if="myMovements.length">
          <div
            class="col-sm-6 col-md-3"
            v-for="movement in myMovements"
            :key="movement.root.id"
          >
            <card
              :id="movement.root.id"
              :from-warehouse="movement.from_warehouse.name"
              :to-warehouse="movement.to_warehouse.name"
            >
              <template #action>
                <div
                  class="q-btn white full-width text-h6 text-weight-bolder"
                  @click="
                    (currentMovement = movement), save('COURIER_DELIVERED')
                  "
                >
                  Сдать
                </div>
              </template>
            </card>
          </div>
        </div>
      </div>
    </q-pull-to-refresh>

    <q-dialog
      v-model="acceptingModal"
      maximized
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-inner-loading :showing="loading" class="fullscreen fixed">
        <q-spinner-gears size="250px" color="primary" />
      </q-inner-loading>

      <q-card v-if="acceptingModal">
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h6">
            #{{ currentMovement.root.id }} /
            {{ currentMovement.from_warehouse.name }}
            <q-badge color="yellow">
              <q-icon name="arrow_right_alt" color="black" />
            </q-badge>
            {{ currentMovement.to_warehouse.name }}
          </div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
          <q-list bordered padding class="rounded-borders text-primary">
            <q-item
              v-ripple
              v-for="product in currentMovement.products"
              :key="product.id"
            >
              <q-item-section>{{ product.site_title }}</q-item-section>
              <q-item-section>
                <q-linear-progress
                  rounded
                  size="15px"
                  :value="progressValue(product)"
                  :color="progressColor(product)"
                />
              </q-item-section>
            </q-item>
          </q-list>
        </q-card-section>

        <q-card-actions align="center">
          <q-btn
            push
            padding="lg"
            label="Готово"
            color="secondary"
            :disable="!readyForShipping"
            @click="save('COURIER_ACCEPTED')"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import card from "src/components/card.vue";
import store from "src/store/store";

import stockMovementService from "src/services/stock-movement";
import productService from "src/services/product";
import deviceService from "src/services/device";

export default {
  components: { card },
  data: () => ({
    movements: [],

    currentMovement: null,
    acceptingModal: false,

    loading: true,
    cols: 3
  }),

  mounted() {
    this.cols = window.innerWidth > window.innerHeight ? 3 : 6
    window.addEventListener("resize", () => {
      console.log('resize', window.innerWidth, window.innerHeight)
      this.cols = window.innerWidth > window.innerHeight ? 3 : 6
    })

    this.refresh(() => {
      this.loading = false;
    });
    this.$barcodeScanner.init(this.onBarcodeScanned);

    if (this.$q.platform.is.android) {
      cordova.plugins.firebase.messaging
        .getToken()
        .then((token) => {
          // Смотрим, отправляли ли мы его на сервер
          if (localStorage.getItem("sentFirebaseMessagingToken") != token) {
            // Отправляем на сервер и в localStorage
            deviceService.register(token).then(() => {
              localStorage.setItem("sentFirebaseMessagingToken", token);
            });
          }
        })
        .catch((e) => {
          console.warn(e);
        });

      cordova.plugins.firebase.messaging.onMessage((payload) => {
        this.loading = true;
        this.refresh(() => {
          this.loading = false;
        });
      });
    }
  },

  destroy() {
    this.$barcodeScanner.destroy();
  },

  methods: {
    refresh(done) {
      stockMovementService
        .getAll({ type: "DELIVERY" })
        .then(({ data }) => {
          this.movements = data.map((movement) => {
            movement.products = movement.products.map((product) => ({
              ...product,
              quantity:
                product.pivot.quantity_vat + product.pivot.quantity_non_vat,
              scanned_quantity: 0,
            }));
            return movement;
          });
        })
        .catch((e) => {
          this.catch(e);
        })
        .finally(done);
    },

    catch(error) {
      if (!error.response) {
        console.log(error);
        this.$q.notify({
          type: "danger",
          message: "Ошибка сети",
        });
      } else if (error.response.data && error.response.data.message) {
        this.$q.notify({
          type: "danger",
          message: error.response.data.message,
        });
      } else {
        this.$q.notify({
          type: "danger",
          message: "Что-то пошло не так, попробуйте позже",
        });
      }
    },

    onBarcodeScanned(barcode) {
      if (!this.acceptingModal) {
        this.$q.notify({
          type: "warning",
          message: "Сначала выберите перемещение",
          timeout: 2000,
        });

        return;
      }

      console.log(barcode);

      if (!/^[1-9]{1}\d{0,4}[A-Z]{4}[\dA-Z]{2}$/.test(barcode)) {
        this.$q.notify({
          type: "danger",
          message: "Неверный формат штрих-кода",
          timeout: 2000,
        });

        return;
      }

      let productId = barcode.substring(0, barcode.length - 6);

      let index = this.currentMovement.products.findIndex(
        (product) => product.id == productId
      );
      let firstEmpty = this.currentMovement.products.findIndex(
        (product) => product.scanned_quantity == 0
      );
      let item = {};

      if (index !== -1) {
        this.currentMovement.products[index].scanned_quantity++;
        if (this.currentMovement.products[index].scanned_quantity == 1) {
          [item] = this.currentMovement.products.splice(index, 1);
          this.currentMovement.products.splice(firstEmpty, 0, item);
        }
      } else {
        item = {
          id: productId,
          site_title: "Неизвестный продукт: " + productId,
          quantity: 0,
          scanned_quantity: 1,
        };

        productService
          .get(productId)
          .then(({ site_title }) => {
            item.site_title = site_title;
          })
          .finally(() => {
            if (firstEmpty !== -1) {
              this.currentMovement.products.splice(firstEmpty, 0, item);
            } else {
              this.currentMovement.products.push(item);
            }
          });
      }
    },

    showAcceptingModal(movement) {
      this.currentMovement = movement;

      this.currentMovement.products = this.currentMovement.products
        .filter(({ quantity }) => quantity != 0)
        .map((item) => {
          return { ...item, scanned_quantity: 0 };
        });
      this.acceptingModal = true;
    },

    save(status) {
      this.loading = true;
      let preparedData = {
        ...this.currentMovement,
        status: status,
        without_delivery: false,
        root_id: this.currentMovement.root.id,
      };

      preparedData.products = preparedData.products.map((item) => {
        return { product_id: item.id, quantity: item.quantity };
      });

      stockMovementService
        .create(preparedData)
        .then((data) => {
          this.$q.notify({
            type: "success",
            message: "Операция прошла успешно!",
            timeout: 2000,
          });

          this.refresh();
          this.acceptingModal = false;
        })
        .catch((error) => {
          this.$q.notify({
            type: "error",
            message: "Что-то пошло не так.",
            timeout: 2000,
          });
        })
        .finally((data) => {
          this.loading = false;
        });
    },
  },

  computed: {
    progressValue() {
      return (product) =>
        Math.min(
          product.quantity == 0
            ? 1
            : product.scanned_quantity / product.quantity,
          1
        );
    },

    progressColor() {
      return (product) => {
        if (product.scanned_quantity < product.quantity) {
          return "warning";
        } else if (product.scanned_quantity == product.quantity) {
          return "secondary";
        } else {
          return "negative";
        }
      };
    },
    waitingMovements() {
      return this.movements.filter(({ status }) => status == "SENDER_SHIPPED");
    },
    myMovements() {
      return this.movements.filter(
        ({ status, owner_id }) =>
          status == "COURIER_ACCEPTED" && owner_id == store.state.user.id
      );
    },
    readyForShipping() {
      return this.currentMovement.products.every(
        (product) => product.scanned_quantity == product.quantity
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.bg-gradient-yellow {
  background: #ffdd57 !important;
  background: -webkit-linear-gradient(45deg, #ffe57e, #ffcb00);
}
.fixed {
  position: fixed;
}
</style>