<template>
  <q-card flat bordered class="full-height justify-between column">
    <q-card-section horizontal>
      <q-card-section class="q-pt-xs full-width">
        <div class="text-h4 q-mt-sm q-mb-xs">#{{ id }}</div>
        <div class="row text-secondary">
          <div class="col text-h6 text-left">Откуда</div>
          <div class="col text-h6 text-right">Куда</div>
        </div>
        <div class="row">
          <div class="col text-h5 text-left">{{ fromWarehouse }}</div>
          <div class="col text-h5 text-right">{{ toWarehouse }}</div>
        </div>
      </q-card-section>
    </q-card-section>

    <!-- <q-separator /> -->

    <q-card-actions class="bg-black text-white">
      <slot name="action"></slot>
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      required: true,
    },
    fromWarehouse: {
      type: String,
      required: true,
    },
    toWarehouse: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
  border-radius: 5px;
  background: white;
}
</style>