<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'App'
}
</script>

<style>
.text-secondary .q-linear-progress__model--determinate {
  background: #26A69A !important;
}
.text-negative .q-linear-progress__model--determinate {
  background: #C10015 !important
}
.text-warning .q-linear-progress__model--determinate {
  background: #F2C037 !important
}
</style>